<h1>Order Fulfillment</h1>
<form>
  <div class="form-group topMarg2">
    <label for="orderChoice">Select an Order:</label>
    {{#x-select class='form-control' id=orderChoice action='selectOrder'}}
      {{#each orders as |orderChoice|}}
        {{#unless orderChoice.fulfilled}}
          {{#x-option value=orderChoice}}
          {{orderChoice.customerName}}
          {{/x-option}}
        {{/unless}}
      {{/each}}
    {{/x-select}}
    <div>
      <h3 class="centered">Customer Name: {{selectedOrder.data.customerName}}</h3>
      <h4 class="centered">Blend Name: {{selectedOrder.data.blendName}}</h4>
      <h5 class="centered">Weight: {{selectedOrder.data.weight}} kg.</h5>
    </div>
    <button class="btn btn-info btn-lg order-button pull-right" {{action 'fulfillOrder'}}>Fulfill Order</button>
  </div>
</form>
