{{#if formIsShowing}}
  <form>
    <label for="green-id">Desired Source Bean:</label>
    <select value=selectedBean id="green-id" onchange={{action 'selectBean' value='target.value'}}>
      {{#each greens as |green|}}
        <option value={{green.id}}>{{green.name}}</option>
      {{/each}}
    </select>
    <label for="roast-level">Roast Level</label>
    <select value=selectedRoast id="roast-level" onchange={{action 'selectRoast' value='target.value'}}>
      <option value="light">Light</option>
      <option value="medium">Medium</option>
      <option value="dark">Dark</option>
      <option value="french">French</option>
    </select>
    <label for="roast-name">Name for Roast</label>
    {{input id="roast-name" value=roastName}}
    <button {{action "createRoast"}}>Create Roast</button>
  </form>
{{else}}
  <button {{action "showForm"}}>Create New Roast</button>
{{/if}}
