<form>
  <label for="blend-name">Name:</label>
  {{input id="blend-name" value=blendName}}
  <label for="blend-description">Description:</label>
  {{input id="blend-description" value=blendDescription}}

  {{#x-select action="selectRoast1" as |xs|}}
    {{#each roasteds as |roast|}}
      {{#xs.option value=roast}}{{roast.name}}{{/xs.option}}
    {{/each}}
  {{/x-select}}
  <label for="percent1">Decimal Fraction:</label>
  {{input value=percent1 id="percent1"}}

  {{#x-select action="selectRoast2" as |xs|}}
    {{#each roasteds as |roast|}}
      {{#xs.option value=roast}}{{roast.name}}{{/xs.option}}
    {{/each}}
  {{/x-select}}
  <label for="percent2">Decimal Fraction:</label>
  {{input value=percent2 id="percent2"}}

  {{#x-select action="selectRoast3" as |xs|}}
    {{#each roasteds as |roast|}}
      {{#xs.option value=roast}}{{roast.name}}{{/xs.option}}
    {{/each}}
  {{/x-select}}
  <label for="percent3">Decimal Fraction:</label>
  {{input value=percent3 id="percent3"}}

  {{#x-select action="selectRoast4" as |xs|}}
    {{#each roasteds as |roast|}}
      {{#xs.option value=roast}}{{roast.name}}{{/xs.option}}
    {{/each}}
  {{/x-select}}
  <label for="percent4">Decimal Fraction:</label>
  {{input value=percent4 id="percent4"}}

  {{#x-select action="selectRoast5" as |xs|}}
    {{#each roasteds as |roast|}}
      {{#xs.option value=roast}}{{roast.name}}{{/xs.option}}
    {{/each}}
  {{/x-select}}
  <label for="percent5">Decimal Fraction:</label>
  {{input value=percent5 id="percent5"}}

  {{#x-select action="selectRoast6" as |xs|}}
    {{#each roasteds as |roast|}}
      {{#xs.option value=roast}}{{roast.name}}{{/xs.option}}
    {{/each}}
  {{/x-select}}
  <label for="percent6">Decimal Fraction:</label>
  {{input value=percent6 id="percent6"}}



  <button {{action "saveBlend"}}>Save</button>


</form>
