<div>
  <form class="form-group topMarg">
    <label for="bean-id">Desired Bean:</label>
    <select class="form-control" value=selectedBean id="bean-id" onchange={{action 'selectBean' value='target.value'}}>
      {{#each greens as |green|}}
        <option value={{green.id}}>{{green.name}}</option>
      {{/each}}
    </select>
    <br>
    <label for="order-quantity">How Many Bags (50 kg each):</label>
    {{input class="form-control" id="order-quantity" value=orderQuantity type="number" step="1"}}
    <br>
    <button class="btn btn-success btn-lg pull-right"{{action "placeOrder"}}>Place Order</button>
  </form>
</div>
