<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>Green Coffee Inventory:</h1>
      {{green-inventory-list greens=model.greens}}

      {{#link-to 'blends'}}<h1>Create A New Blend Here!</h1>{{/link-to}}
      <h3>All Orders</h3>
      {{#each model.orders as |order|}}
        {{order-list-tile order=order}}
      {{/each}}
      {{create-order blends=model.blends createOrder='createOrder'}}
    </div>
    <div class="col-md-3">
      <h1>Roasted Coffee Inventory:</h1>
      {{roasted-inventory-list roasteds=model.roasteds}}
    </div>
    <div class="col-md-3">
      {{order-form blends=model.blends orderBlend='orderBlend'}}
    </div>
    <div class="col-md-3 form-group">
      <h1>Order More Green Beans!</h1>
      {{purchase-green greens=model.greens placeOrder="placeOrder"}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 form-group">
      {{fulfillment-form orders=model.orders fulfillOrder = 'fulfillOrder'}}
    </div>
  </div>
</div>
